mixin food-menu(href, src, alt, title, number)
    a.grid__item(href= href)
        .grid__item-bg
        .grid__item-wrap
            img(src= src alt= alt).grid__item-img
        h3.grid__item-title= title
        h4.grid__item-number= number
            //- a(href= link).btn.btn-secondary.text-bold.text-uppercase.animation.food-menu__more Докладніше
mixin food-menu__content(src, alt, title, subtitle, p1, p2, p3)
    .content#content
        .content__item
            .content__item-intro
                img.content__item-img(src= src alt= alt)
                h2.content__item-title= title
            h3.content__item-subtitle= subtitle
            .content__item-text
                p= p1
                p= p2
                p= p3
        button.content__close Close
        svg.content__indicator.icon.icon--caret
            use(xlink:href="#icon-caret")